In [2]:
import pandas as pd

In [67]:
df = pd.read_csv('train.csv')

In [68]:
df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [69]:
df.shape

(891, 12)

In [70]:
df['(0-25]']= df['Age'] <= 25
df['(25-50]']= ((df['Age'] > 25) & (df['Age'] <= 50))
df['(50->)']= df['Age'] > 50

In [71]:
res_1 = round(len(df[(df['(0-25]'] == 1) & (df['Survived'] == 1)])/len(df[(df['(0-25]'] == 1)]), 2)
res_2 = round(len(df[(df['(25-50]'] == 1) & (df['Survived'] == 1)])/len(df[(df['(25-50]'] == 1)]), 2)
res_3 = round(len(df[(df['(50->)'] == 1) & (df['Survived'] == 1)])/len(df[(df['(50->)'] == 1)]), 2)

In [72]:
print('Вероятность выживания, если пассажиру:')
print('от 0 до 25 лет     - ', res_1)
print('от 25 до 50 лет    - ', res_2)
print('от 50 лет и старше - ', res_3)

Вероятность выживания, если пассажиру:
от 0 до 25 лет     -  0.41
от 25 до 50 лет    -  0.41
от 50 лет и старше -  0.34

In [73]:
df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,(0-25],(25-50],(50->)
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S,True,False,False
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C,False,True,False
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S,False,True,False
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S,False,True,False
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S,False,True,False

In [121]:
# Ищем: вероятность выживших female среди female, вероятность female на борту,
#       вероятность выживших male среди male, вероятность male на борту
survived_women = len(df[(df['Sex'] == 'female') & (df['Survived'] == 1)]) / len(df[df['Sex'] == 'female'])
women = len(df[df['Sex'] == 'female']) / len(df['Sex'])
survived_men = len(df[(df['Sex'] == 'male') & (df['Survived'] == 1)]) / len(df[df['Sex'] == 'male'])
men = len(df[df['Sex'] == 'male']) / len(df['Sex'])

In [123]:
# применим формулу Байеса
res = round(survived_women*women / (survived_women*women + survived_men*men), 2)
print('Вероятность того, что пассажир женского пола, если известно, что он выжил - ', res)

Вероятность того, что пассажир женского пола, если известно, что он выжил -  0.68

### Hard
Закон распределения задается функцией плотности

$ f(x) = \lambda e^{-\lambda x}, x > 0 $

$ f(x) = 0, x <= 0 $

Найти вероятность того, что событие произойдет при x∈[1,2]



P.S. в scipy есть функция для интегрирования функции

#### Решение:

Наверное, самое сложное здесь, это найти $\lambda$ )))

2-е свойство плотности распределения говорит о том, что несобственный интеграл от ф-ции плотрности распределения в пределах от $-\infty$ до $+\infty$ равен 1.

Получаем:

$\int^{+\infty}_{-\infty}{f(x)}{\rm d}x = \int^{0}_{-\infty}{0}{\rm d}x + \int^{+\infty}_{0}{\lambda e^{-\lambda x}}{\rm d}x$

Т.е. $ \int^{+\infty}_{0}{\lambda e^{-\lambda x}}{\rm d}x = 1$ и невооруженным взглядом видим, что это работает при $\lambda = 1$

$\int^{+\infty}_{0}{e^{-x}}{\rm d}x = -e^{+\infty} + e^{0}$ Первое активно стремится к 0, а второе равно 1.

Переходим к вероятности...
$P(1<= X <= 2) = e^{-1} + e^{-2} = 0.23254415793482963$

Проверим...

In [119]:
# подключим пакет интегрирования из библиотеки scipy
from math import exp
from scipy import integrate
# опишем подынтегральную функцию
def target_function_f(x):
 return exp(-x)
# выполним интегрирование
result = integrate.quad(target_function_f, 1, 2)
# посмотрим результат
print(result)

(0.23254415793482963, 2.5817587838131664e-15)